# I2A2_TAREFA6
### Lixo eletronico na amazonia

In [1]:
import pandas as pd

## Atividade 1: Exploração inicial dos dados

In [ ]:
# Leitura do arquivo CSV

df = pd.read_csv("desafio6_lixo_eletronico.csv")

In [42]:
print("Tamanho do DataFrame (linhas, colunas):")
df.shape

Tamanho do DataFrame (linhas, colunas):

(150, 11)

In [47]:
print("Informações do DataFrame:")
df.info()

Informações do DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_Registro          150 non-null    int64
 1   Tipo_Eletronico      135 non-null    object
 2   Ano_Fabricacao       150 non-null    int64
 3   Origem               135 non-null    object
 4   Destino_Final        135 non-null    object
 5   Peso_kg              135 non-null    float64
 6   Nivel_Toxico         150 non-null    object
 7   Custo_Reciclagem_R$  135 non-null    float64
 8   Municipio            150 non-null    object
 9   Educacao_Ambiental   150 non-null    object
 10  Data_Descarte        150 non-null    object
dtypes: float64(2), int64(2), object(7)
memory usage: 13.0+ KB

In [48]:
print("Descrição estatística:")
df.describe(include="all")

Descrição estatística:

,ID_Registro,Tipo_Eletronico,Ano_Fabricacao,Origem,Destino_Final,Peso_kg,Nivel_Toxico,Custo_Reciclagem_R$,Municipio,Educacao_Ambiental,Data_Descarte
count,150.000000,135,150.000000,135,135,135.000000,150,135.000000,150,150,150
unique,NaN,8,NaN,5,6,NaN,4,NaN,27,2,90
top,NaN,Bateria,NaN,Governamental,Lixão,NaN,Alto,NaN,Belém,Sim,2019-10-30 21:25:22.147651008
freq,NaN,25,NaN,45,34,NaN,41,NaN,24,88,5
mean,72.733333,NaN,2008.646667,NaN,NaN,25.515556,NaN,103.102667,NaN,NaN,NaN
std,43.163443,NaN,8.833384,NaN,NaN,13.916280,NaN,56.242941,NaN,NaN,NaN
min,1.000000,NaN,1995.000000,NaN,NaN,1.710000,NaN,5.510000,NaN,NaN,NaN
25%,36.250000,NaN,2000.250000,NaN,NaN,13.840000,NaN,51.845000,NaN,NaN,NaN
50%,70.500000,NaN,2009.000000,NaN,NaN,24.180000,NaN,108.710000,NaN,NaN,NaN
75%,109.750000,NaN,2017.000000,NaN,NaN,36.880000,NaN,149.630000,NaN,NaN,NaN
max,149.000000,NaN,2022.000000,NaN,NaN,49.800000,NaN,199.460000,NaN,NaN,NaN

In [53]:
print("Quantidade de linhas duplicadas:", df.duplicated().sum())

Quantidade de linhas duplicadas: 0

In [55]:
print("Qunatidade de valores nulos por coluna")
df.isnull().sum()

Qunatidade de valores nulos por coluna

ID_Registro             0
Tipo_Eletronico        15
Ano_Fabricacao          0
Origem                 15
Destino_Final          15
Peso_kg                15
Nivel_Toxico            0
Custo_Reciclagem_R$    15
Municipio               0
Educacao_Ambiental      0
Data_Descarte           0
dtype: int64

In [ ]:
# Identificar valores únicos em cada coluna

for coluna in df.columns:
    print(f"{coluna}:")
    print(df[coluna].unique())
    print("-" * 40)

ID_Registro:
[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  16  17  18  19
  20  21  22  23  24  25  26  27  28  29  15  31  32  33  34  35  36  37
  38  39  40  41  42  43  44  46  47  48  49  50  51  52  53  54  55  56
  57  58  59  30  61  62  63  64  65  66  67  68  69  70  71  72  73  74
  76  77  78  79  80  81  82  83  84  85  86  87  88  89  45  91  92  93
  94  95  96  97  98  99 100 101 102 103 104 106 107 108 109 110 111 112
 113 114 115 116 117 118 119  60 121 122 123 124 125 126 127 128 129 130
 131 132 133 134 136 137 138 139 140 141 142 143 144 145 146 147 148 149
  75]
----------------------------------------
Tipo_Eletronico:
['Impressora' 'Bateria' 'Geladeira' 'TV' nan 'Computador' 'celular'
 'Tablet' 'Celular']
----------------------------------------
Ano_Fabricacao:
[2006 2002 2016 2021 1997 1995 1999 2009 2008 2020 2017 2001 2003 2004
 2022 2007 2013 2011 2014 1998 2005 1996 2019 2015 2000 2018 2010]
----------------------------------------
Origem:
['Urbana' 'Governamental' 'Industrial' 'Rural' nan 'urbano']
----------------------------------------
Destino_Final:
['Aterro Controlado' 'Cooperativa' 'Reciclagem Formal' 'Lixão'
 'reciclagem formal' nan 'Rio']
----------------------------------------
Peso_kg:
[30.95 16.89 32.82 19.33 34.11 17.1  13.11 24.85 34.68 17.48 46.84  2.06
 20.96   nan 21.23 28.47 28.84 36.61  6.47 29.07 43.37 28.14 12.01 34.02
 37.02 11.99 18.95 24.88 19.54 14.95  5.09  2.77 47.93 42.37 17.81 47.84
 33.87 24.18 24.7   4.26  4.68 30.16 27.73 10.72 47.32 39.09  5.76 46.55
 48.71 49.8   2.89 36.88 35.32 48.44 34.43 41.86 43.36 41.94 21.36 11.21
 19.89 44.61  7.42 11.74 29.11 43.17 44.03 11.91 45.39 29.64 35.44 24.14
 18.96 35.28 16.58 21.78 12.76 28.62 37.07 38.38 41.16 37.24 34.08 11.95
 20.07 23.94  4.24 26.47 21.87 40.13 48.9  27.84 16.2   2.27 46.24 45.96
 12.72 34.8   3.86  8.39 14.8  34.88 19.27 45.77 47.94  2.99 19.79  5.43
  8.57 32.38 19.47 11.55 13.37 18.08 13.07 22.72  1.71 14.06 20.62 30.18
 13.62  6.75  3.9  20.89 29.1  45.97  4.23 27.62 38.9  24.07 49.27 18.9
 37.5  19.71]
----------------------------------------
Nivel_Toxico:
['Alto' 'Baixo' 'Médio' 'Crítico']
----------------------------------------
Custo_Reciclagem_R$:
[122.38  48.65 165.25  72.29  72.79  11.2  112.   109.21  74.42 179.37
  30.11  69.37  67.71  23.    98.82 139.12    nan  35.61  78.57   5.51
 174.32  21.48 121.47 197.32 109.64 185.19  51.04 153.19 108.6  145.5
  17.16  33.81  30.96 139.   169.67 151.18  10.94 174.11  74.06  82.45
  25.45 148.79  40.55 114.97  22.39 109.39  50.48  97.42  74.25 131.52
  98.52 118.92 113.76 115.07  70.8  180.43 123.47  52.65  69.42 187.07
   6.47  48.94  76.24 100.12 170.91  22.14  15.85 169.25  15.07   8.56
 140.91 199.46 179.84 183.89   6.03 195.14 100.7  145.96 165.07 145.1
 109.33  97.94 168.52  44.99 193.76 143.64  43.9  148.57 108.32 142.91
 154.72  22.02 103.69 186.74  67.53  77.    93.58 111.98 112.04  44.34
  22.13   5.53  97.27 123.19 159.89  25.81 170.89 150.47  84.66 198.23
  44.98  78.95 185.66 145.71  14.38 157.4  166.45 151.35 160.91 165.9
  41.35  50.96 182.03  66.66 119.72 138.18  93.13 144.19 180.44 126.7
 110.26  90.56 117.61  74.3   81.34 108.71]
----------------------------------------
Municipio:
['Marabá' 'Novo Progresso' 'Tucuruí' 'Cametá' 'Ananindeua' 'Belém' 'Soure'
 'Itaituba' 'Dom Eliseu' 'Capanema' 'Santarém' 'Castanhal' 'Parauapebas'
 'Tailândia' 'Breves' 'Bragança' 'Capitão Poço' 'Altamira' 'Abaetetuba'
 'Monte Alegre' 'Alenquer' 'Mocajuba' 'Barcarena' 'Xinguara' 'Redenção'
 'Oriximiná' 'Igarapé-Miri']
----------------------------------------
Educacao_Ambiental:
['Não' 'Sim']
----------------------------------------
Data_Descarte:
['2022-09-02 11:26:10.469798656' '2023-03-03 01:17:18.926174496'
 '2021-08-09 09:10:52.348993280' '2018-04-08 05:18:55.570469792'
 '2021-12-17 01:55:58.389261728' '2018-11-01 17:43:05.234899328'
 '2018-08-15 22:04:01.610738256' '2025-02-26 08:41:52.751677824'
 '2015-11-08 06:36:14.496644296' '2023-01-10 04:11:16.510067104'
 '2023-09-26 13:41:28.590604032' '2022-06-16 15:47:06.845637568'
 '2025-05-15 04:20:56.375838912' '2025-03-24 07:14:53.959731520'
 '2023-06-14 19:29:23.758389248' '2019-05-28 06:07:14.899328864'
 '2016-04-11 21:54:21.744966440' '2021-06-18 12:04:49.932885888'
 '2019-01-18 13:22:08.859060400' '2021-04-27 14:58:47.516778528'
 '2023-03-28 23:50:20.134228192' '2019-05-02 07:34:13.691275168'
 '2016-07-24 16:06:26.577181208' '2023-12-13 09:20:32.214765088'
 '2024-08-28 18:50:44.295302016' '2024-11-14 14:29:47.919463104'
 '2024-02-03 06:26:34.630872480' '2023-08-05 16:35:26.174496640'
 '2015-01-01 00:00:00.000000000' '2017-05-06 00:09:39.865771808'
 '2021-09-30 06:16:54.765100672' '2023-11-17 10:47:31.006711392'
 '2023-04-23 22:23:21.342281888' '2018-05-04 03:51:56.778523488'
 '2021-04-01 16:25:46.308724832' '2016-01-25 02:15:18.120805368'
 '2019-10-30 21:25:22.147651008' '2016-06-28 17:33:25.369127520'
 '2021-07-14 10:37:51.140939584' '2020-04-29 11:16:30.604026848'
 '2021-01-13 20:46:42.684563744' '2016-12-27 07:24:33.825503352'
 '2020-12-18 22:13:41.476510080' '2017-09-12 16:54:45.906040272'
 '2022-01-12 00:28:59.597315424' '2017-04-10 01:36:38.657718120'
 '2022-02-06 23:02:00.805369120' '2015-08-22 10:57:10.872483220'
 '2024-09-23 17:23:45.503355712' '2015-03-19 19:39:03.624161074'
 '2016-08-19 14:39:27.785234896' '2020-08-11 05:28:35.436241600'
 '2015-01-26 22:33:01.208053691' '2024-01-08 07:53:33.422818784'
 '2020-11-22 23:40:40.268456384' '2015-10-13 08:03:13.288590604'
 '2019-09-09 00:19:19.731543616' '2019-07-19 03:13:17.315436240'
 '2020-03-08 14:10:28.187919456' '2017-12-25 11:06:50.738255040'
 '2018-01-20 09:39:51.946308720' '2024-12-10 13:02:49.127516800'
 '2021-09-04 07:43:53.557046976' '2018-03-13 06:45:54.362416112'
 '2024-02-29 04:59:35.838926144' '2017-05-31 22:42:41.073825504'
 '2020-09-06 04:01:36.644295296' '2015-07-01 13:51:08.456375838'
 '2023-02-05 02:44:17.718120800' '2022-05-21 17:14:05.637583904'
 '2024-07-07 21:44:41.879194624' '2020-04-03 12:43:29.395973152'
 '2016-06-02 19:00:24.161073824' '2017-06-26 21:15:42.281879200'
 '2017-07-22 19:48:43.489932880' '2022-12-15 05:38:15.302013408'
 '2017-01-22 05:57:35.033557048' '2016-02-20 00:48:19.328859060'
 '2022-11-19 07:05:14.093959744' '2015-07-27 12:24:09.664429530'
 '2016-12-01 08:51:32.617449664' '2020-10-28 01:07:39.060402688'
 '2022-10-24 08:32:12.885906048' '2016-09-14 13:12:28.993288592'
 '2023-08-31 15:08:27.382550336' '2018-09-10 20:37:02.818791952'
 '2018-12-23 14:49:07.651006704' '2017-11-29 12:33:49.530201344'
 '2025-01-05 11:35:50.335570496' '2024-05-17 00:38:39.463087232']
----------------------------------------

## Atividade 2 - Limpeza e padronização

In [ ]:
df["Tipo_Eletronico"] = df["Tipo_Eletronico"].replace("celular", "Celular")